# this is a comment 
tempfile.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4

# would log/assets/ be ignored? nope, the above rule only covers files in log
